{{#if actions}}
	<ul class="actions">
		{{#each actions}}
			<li {{#if class}}class="{{class}}"{{/if}} rel="{{name}}">
				{{#equal name 'menu'}}
					<div class="menu-actions"></div>
				{{else}}
					<a href="#{{name}}" title="{{title}}">{{icon icon}}</a>
				{{/equal}}
			</li>
		{{/each}}
	</ul>
{{/if}}

