<div class="{{formclass}} clear interface">
	<form class="standard-form" autocomplete="off" {{#if disable_browser_validation}}novalidate{{/if}}>
		{{{content}}}
		{{#if buttons}}
			<div class="button-row clear">
				{{#if footer_actions.length}}
					<ul>
						{{#each footer_actions}}
							<li>
								<a href="#{{name}}" rel="{{name}}">
									{{icon icon}}
								</a>
							</li>
						{{/each}}
					</ul>
				{{/if}}
				<div class="desc">{{state.footer_desc}}</div>

				{{#if show_cancel}}
					<div class="button flat cancel">
						<span>{{t 'Cancel'}}</span>
					</div>
				{{/if}}
				<div class="button flat submit {{#if disabled}}disabled{{/if}} {{#if state.highlight_button}}highlight{{/if}}">
					<input type="submit" {{#if tabindex}}tabindex="{{tabindex}}"{{/if}} value="{{action}}">
				</div>
			</div>
		{{/if}}
	</form>
</div>

