<div class="item-actions">
	<a href="#actions"><icon>&#9206;</icon></a>
	<div class="overlay">&nbsp;</div>
	<div class="menu">
		{{#if title}}
			<h2>{{title}}</h2>
		{{/if}}
		{{#each actions}}
			<div class="row">
				<ul>
					{{#each this}}
						<li {{#if class}}class="{{class}}"{{/if}}>
							<a href="#{{sluggify name}}" rel="{{sluggify name}}">
								{{name}}
							</a>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/each}}
	</div>
</div>

