<div class="overlay {{#if open}}show{{/if}}"></div>
<div class="inner">
	<div class="gutter">
		<div class="header">
			<h2>{{username}}</h2>
			<a href="/settings" title="{{t 'Your settings'}}">{{icon 'account'}}</a>
		</div>
		<ul class="spaces">
			<li class="add">
				<a href="/spaces/add">
					{{icon 'add'}}
					New space
				</a>
			</li>
			{{#each spaces}}
				<li rel="{{id}}" class="space">
					<a href="/spaces/{{id}}" {{#if color}}style="border-color: {{color.bg}};"{{/if}}>{{title}}</a>
					<a class="edit" href="/spaces/edit/{{id}}">{{icon 'account'}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="footer">
		<div class="connection {{#if connected}}connected{{else}}disconnected{{/if}}">
			{{icon 'connection'}}
			<span class="connected">{{t 'Connected to the Turtl service'}}</span>
			<span class="disconnected">{{t 'Offline mode'}}</span>
		</div>
		{{!--
		<div class="sync">
			{{#if connected}}
				{{#if last_sync}}<p>{{t 'Last sync: {{val}}' val=(ago-time last_sync)}}</p>{{/if}}
				<div class="button sync">
					<input type="button" class="button" value="{{t 'Sync now'}}">
				</div>
			{{/if}}
		</div>
		--}}
	</div>
</div>

