<div class="overlay {{#if open}}show{{/if}}"></div>
<div class="inner">
	<div class="gutter">
		<ul class="spaces">
			<li class="add">
				<a href="/spaces/add">
					{{icon 'add'}}
					New space
				</a>
			</li>
			{{#each spaces}}
				<li rel="{{id}}" class="space">
					<a href="/spaces/{{id}}/notes" {{#if color}}style="border-color: {{color.bg}};"{{/if}}>{{title}}</a>
					<a class="edit" href="/spaces/edit/{{id}}">{{icon 'account'}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>

