<ul class="item-list">
	<li>
		<a href="/personas">
			{{icon 'next'}}
			{{t 'Public persona'}}
		</a>
	</li>
	<li>
		<a href="/settings/password">
			{{icon 'next'}}
			{{t 'Change password'}}
		</a>
	</li>
	<li>
		<a href="/settings/export">
			{{icon 'next'}}
			{{t 'Import/Export'}}
		</a>
	</li>
	<li>
		<a href="/settings/delete-account">
			{{icon 'next'}}
			{{t 'Delete my account'}}
		</a>
	</li>
</ul>
<ul class="item-list">
	<li>
		<a href="#wipe">
			{{t 'Clear local data'}}
		</a>
	</li>
</ul>

<div class="info">
	<p>{{t 'Client version: <em>{{version}}</em>' version=version}}</p>
</div>

