<ul class="item-list">
	<li>
		<a href="/settings/password">
			{{icon 'next' class="next"}}
			{{t 'Change password'}}
		</a>
	</li>
	<li>
		<a href="/settings/export">
			{{icon 'next' class="next"}}
			{{t 'Import &amp; export'}}
		</a>
	</li>
	{{#unless confirmed}}
		<li>
			<a href="#resend-confirmation">
				{{t 'Resend confirmation'}}
			</a>
		</li>
	{{/unless}}
</ul>
<ul class="item-list">
	<li>
		<a href="/settings/feedback">
			{{icon 'feedback'}}
			{{t 'Feedback'}}
		</a>
	</li>
</ul>
<ul class="item-list">
	<li>
		<a href="/settings/sync">
			{{icon 'next' class="next"}}
			{{t 'Sync info'}}
		</a>
	</li>
	<li>
		<a href="/settings/logs">
			{{icon 'next' class="next"}}
			{{t 'Debug log'}}
		</a>
	</li>
</ul>
<ul class="item-list">
	<li>
		<a href="/users/logout">
			{{icon 'logout'}}
			{{t 'Logout'}}
		</a>
	</li>
	<li>
		<a href="#wipe">
			{{t 'Clear local data'}}
		</a>
	</li>
	<li>
		<a href="/settings/delete-account">
			{{icon 'next' class="next"}}
			{{t 'Delete my account'}}
		</a>
	</li>
</ul>

<div class="connection {{#if connected}}connected{{else}}disconnected{{/if}}">
	{{icon 'connection'}}
	<span class="connected">{{t 'Connected'}}</span>
	<span class="disconnected">{{t 'Offline mode'}}</span>
</div>

<div class="info">
	<p>{{t 'Logged in as <em>{{username}}</em> <small>(on {{server}})</small>' username=username server=state.api_endpoint}}</p>
	<p>{{t 'Client version: <em>{{version}}</em>' version=version}}</p>
</div>

