{{#if connected}}
	<div class="section">
		<h3>{{t 'Confirm your current login'}}</h3>
		<input type="email" name="cur_username" value="{{username}}" placeholder="{{t 'Current email'}}" tabindex="1" autocorrect="off" autocapitalize="none">
		<input type="password" name="cur_password" placeholder="{{t 'Current passphrase'}}" tabindex="2">
	</div>

	<div class="section">
		<h3>{{t 'Enter a new email/password'}}</h3>
		<input type="email" name="new_username" value="{{username}}" placeholder="{{t 'New email'}}" tabindex="3" autocorrect="off" autocapitalize="none">
		<input type="password" name="new_password" placeholder="{{t 'New passphrase'}}" tabindex="4">
		<input type="password" name="new_confirm" placeholder="{{t 'Confirm passphrase'}}" tabindex="5">
	</div>

	<div class="buttons">
		<div class="button login">
			<input type="submit" class="button" value="{{t 'Change login'}}" tabindex="7">
		</div>
		<p class="load">
			{{svg 'loading'}}
		</p>
		<p class="form-note">
			{{t '(This process can take a while because we need to re-encrypt your keychain)'}}
		</p>
	</div>
{{else}}
	<p class="page-empty">
		{{icon 'connection'}}
		{{t 'Changing your password requires being connected.'}}
		<small>{{t 'You are currently in offline mode.'}}</small>
	</p>
{{/if}}

