<div class="section">
	<h3>{{t 'Confirm your current login'}}</h3>
	<input type="text" name="cur_username" placeholder="{{t 'Current username'}}" tabindex="1" autocorrect="off" autocapitalize="none">
	<input type="password" name="cur_password" placeholder="{{t 'Current passphrase'}}" tabindex="2">
</div>

<div class="section">
	<h3>{{t 'Enter a new password'}}</h3>
	<input type="text" name="new_username" placeholder="{{t 'New username'}}" tabindex="3" autocorrect="off" autocapitalize="none">
	<input type="password" name="new_password" placeholder="{{t 'New passphrase'}}" tabindex="4">
	<input type="password" name="new_confirm" placeholder="{{t 'Confirm passphrase'}}" tabindex="5">
</div>

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="{{t 'Save'}}" tabindex="7">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
</div>


