<div class="sync-items">
	<h2>{{t 'You have {{num}} pending sync items' num=unsynced.length}}</h2>
	<ul class="item-list">
		{{#each unsynced}}
			<li rel="{{id}}">
				<div class="sync-item">
					<h2>{{type}}</h2>
					<p>{{action}}</p>
				</div>
			</li>
		{{/each}}
	</ul>
</div>

