<div class="share-actions"></div>
<h2>
	{{#if board.title}}{{board.title}}{{else}}{{t '(untitled board)'}}{{/if}}
</h2>
<p>
	{{permissions}} permissions
</p>
{{#if invite.has_passphrase}}
<div class="clearMe"></div>
<div class="unlocker">
	<form class="standard-form">
		<input type="text" name="passphrase" value="" placeholder="{{t 'Passphrase'}}">
		<div class="submit">
			<div class="button">
				<input type="submit" value="{{t 'Unlock and accept'}}">
			</div>
		</div>
	</form>
</div>
{{/if}}


