<input type="text" name="title" value="{{note.title}}" tabindex="1" placeholder="Title">
{{#if show_url}}
	<input type="text" name="url" value="{{note.url}}" tabindex="2" placeholder="URL">
{{/if}}
<textarea name="text" rows="1" cols="80" tabindex="3" placeholder="Note text">{{note.text}}</textarea>
<div class="formatting clear">
	<a href="#formatting" rel="formatting">Formatting help</a>
</div>

<ul class="colors">
	{{#each colors}}
		<li rel="{{@index}}" class="{{this}} {{#equal @index ../note.color}}sel{{/equal}}"><span>&nbsp;</span></li>
	{{/each}}
</ul>
