<div class="loader">
	<input type="text" class="req" name="title" value="{{t 'Invite to "{{board_title}}"' board_title=board.title}}" placeholder="{{t 'Invite title (shared with invitee)'}}">
	<input type="text" class="req" name="email" value="" placeholder="{{t 'Invitee\'s email address'}}">
	{{svg 'load'}}
</div>

<div class="invite-type"></div>

<div class="challenge">
	<label>
		<input type="checkbox" name="use-challenge" value="1">
		{{t 'Protect this invite'}} {{icon 'more'}}
	</label>
	<div class="inner">
		<input type="text" name="passphrase" placeholder="{{t 'Enter a passphrase'}}">
		<p>
			{{t 'This passphrase is used to encrypt the invite. You can communicate it to the invitee via a secure channel (in-person, encrypted email, encrypted chat, etc).'}}
		</p>
		{{!--
		<input type="text" name="challenge" placeholder="{{t 'Ask a question (shared)'}}">
		<input type="text" name="response" placeholder="{{t 'Answer the question (private)'}}">
		<p>
			{{t 'Ask a question only the invitee would know the answer to. The answer encrypts the invite, and must be guessed properly to unlock it.'}}
			{{t 'Example:'}}
		</p>
		<ul>
			<li>
				<strong>{{t 'What notebook do you bring to Mr. Weber's class? (three words, lowercase)'}}</strong>
				{{t 'outdoor outdoor outdoor'}}
			</li>
		</ul>
		--}}
	</div>
</div>

