<p class="head">
	{{#if outdated_key}}
		<em>{{t '{{email}}</em> needs to upgrade their persona.' email=email}}
	{{else}}
		<em>{{t '{{email}}</em> is not a current Turtl user.' email=email}}
	{{/if}}
	{{t 'This share will happen over email. It\'s recommended you protect the invite.'}}
</p>

