<div class="invite-actions"></div>
<h2>
	{{#if persona}}
		{{#if persona.name}}
			{{persona.name}}
		{{else}}
			{{persona.email}}
		{{/if}}
	{{else}}
		{{share.to}}
	{{/if}}
</h2>
{{#if pending}}
	<p>
		{{t 'Invite pending. Sent {{ago}}' ago=(ago-time timestamp_created)}}
	</p>
{{else}}
	<p>
		{{t '{{permissions}} permissions' permissions=permissions}}
	</p>
{{/if}}

