<input class="req" type="text" name="email" value="{{persona.email}}" placeholder="{{t 'Your email address (required)'}}">
<input type="text" name="name" value="{{persona.name}}" placeholder="{{t 'Full name'}}">

<p>
	{{t 'Personas enable secure sharing with others by giving your account a name and email that others can look up.'}}
</p>
<p>
	{{t 'You can remove your persona at any time, which will cancel all shares you have with others (making your account anonymous).'}}
</p>

