<p>
	{{t '(Optional) Enable sharing by creating a persona'}}
</p>

<input class="req" type="text" name="email" value="{{persona.email}}" placeholder="{{t 'Your email address (required)'}}">
<input type="text" name="name" value="{{persona.name}}" placeholder="{{t 'Full name'}}">

<div class="buttons">
	<div class="button create">
		<input type="submit" class="button" value="{{t 'Enable sharing'}}">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/">{{t 'Skip this step'}}</a>
	</p>
</div>

