<div class="invite-actions"></div>
<div class="status">
	{{#if invite.has_passphrase}}
		<a href="#status-unlock">{{icon 'protected'}}</a>
	{{/if}}
</div>
<h2>
	{{invite.title}}
</h2>
<p>
	{{t 'From'}}
	{{#if invite.from_persona.name}}
		{{invite.from_persona.name}}
	{{else}}
		{{invite.from_persona.email}}
	{{/if}}
</p>
{{#if invite.has_passphrase}}
<div class="clearMe"></div>
<div class="unlocker">
	<form class="standard-form">
		<input type="text" name="passphrase" value="" placeholder="{{t 'Passphrase'}}">
		<div class="submit">
			<div class="button">
				<input type="submit" value="{{t 'Unlock and accept'}}">
			</div>
		</div>
	</form>
</div>
{{/if}}

