<div class="view-states {{#if empty}}empty{{/if}} {{#if state.initial}}initial{{/if}} {{#if no_results}}no-results{{/if}}">
	<p class="page-empty initial">
		{{icon 'notes'}}
		{{t 'Loading notes...'}}
	</p>
	<p class="page-empty no-results">{{t 'No notes found.'}}</p>
	<p class="page-empty empty">
		{{icon 'notes'}}
		{{t 'No notes here!'}}<br>
		<small>{{t 'Tap <em>+</em> to start'}}</small>
	</p>
</div>

<ul class="note-list clear {{state.mode}}"></ul>

<p class="paginate">
	{{#if show_prev}}
		<a href="#prev" rel="prev">&lt; {{t 'Prev'}}</a>
	{{/if}}
	{{#if show_next}}
		<a href="#next" rel="next">{{t 'Next'}} &gt;</a>
	{{/if}}
</p>

