<h2>
	{{t 'Your spaces'}}
	<a href="#close">{{icon 'close'}}</a>
</h2>
<div class="filter {{#if space_filter_active}}active{{/if}}">
	{{icon 'search' class="find"}}
	{{icon 'close' class="close"}}
	<input name="filter" id="sidebar-space-filter" type="text" placeholder="{{t 'Search for spaces'}}" autocomplete="off">
</div>
<ul class="spaces">
	{{#if state.edit_icons}}
		<li class="add">
			<a href="/spaces/add">
				{{t 'Create a space'}}
				{{icon 'add'}}
			</a>
		</li>
	{{/if}}
	{{#each spaces}}
		<li rel="{{id}}" class="space {{#equal id @root.cur_space.id}}sel{{/equal}} {{#if shared}}shared{{/if}}">
			<a class="go" href="/spaces/{{id}}/notes" {{#if color}}style="border-color: {{color.bg}};"{{/if}}>{{title}}</a>
			{{#if shared}}
				<a class="go" href="/spaces/{{id}}/notes" title="{{t 'This space is shared with you'}}">{{icon 'share'}}</a>
			{{/if}}
			{{#if @root.state.edit_icons}}
				<a class="edit" href="/spaces/edit/{{id}}">{{icon 'account'}}</a>
			{{/if}}
		</li>
	{{/each}}
</ul>

