<div class="help content">
	<table class="shortcuts">
		{{!--
		<tr>
			<td><kbd>a</kbd></td>
			<td>{{t 'Add a new note'}}</td>
		</tr>
		--}}
		<tr>
			<td><kbd>a</kbd><kbd>t</kbd></td>
			<td>{{t 'Add a new text note'}}</td>
		</tr>
		<tr>
			<td><kbd>a</kbd><kbd>b</kbd></td>
			<td>{{t 'Add a new bookmark'}}</td>
		</tr>
		<tr>
			<td><kbd>a</kbd><kbd>i</kbd></td>
			<td>{{t 'Add a new image'}}</td>
		</tr>
		<tr>
			<td><kbd>a</kbd><kbd>f</kbd></td>
			<td>{{t 'Add a new file'}}</td>
		</tr>
		<tr>
			<td><kbd>a</kbd><kbd>p</kbd></td>
			<td>{{t 'Add a new password'}}</td>
		</tr>
		<tr>
			<td><kbd>s</kbd></td>
			<td>{{t 'Open spaces menu'}}</td>
		</tr>
		<tr>
			<td><kbd>b</kbd></td>
			<td>{{t 'Open boards menu'}}</td>
		</tr>
		<!--
		<tr>
			<td><kbd>enter</kbd></td>
			<td>{{t 'Open current note'}}</td>
		</tr>
		-->
		<tr>
			<td><kbd>e</kbd></td>
			<td>{{t 'Edit current note'}}</td>
		</tr>
		<tr>
			<td><kbd>delete</kbd></td>
			<td>{{t 'Delete current note'}}</td>
		</tr>
		<tr>
			<td><kbd>/</kbd></td>
			<td>{{t 'Search notes'}}</td>
		</tr>
		<tr>
			<td><kbd>x</kbd></td>
			<td>{{t 'Clear all current filters (show all notes in the board)'}}</td>
		</tr>
		<tr>
			<td><kbd>?</kbd></td>
			<td>{{t 'Show this help'}}</td>
		</tr>
		<tr>
			<td><kbd>shift + L</kbd></td>
			<td>{{t 'Log out'}}</td>
		</tr>
		<tr>
			<td><kbd>ctrl + shift + L</kbd></td>
			<td>{{t 'Clear local data and log out'}}</td>
		</tr>
	</table>
	<h2>{{t 'Tips on keyboard navigation'}}</h2>
	<p>
		{{t 'Open a space easily by hitting <kbd>s</kbd>, typing the name of the space you want, and hitting <kbd>Enter</kbd>. You will then be taken to the board selector. Hit <kbd>Enter</kbd> again for "All notes" or type the name of the board you want to open and hit <kbd>Enter</kbd> to open it.'}}
	</p>
	<p>
		{{t 'Open the board selector by hitting <kbd>b</kbd>. You can hit <kbd>Enter</kbd> with the search box blank to open "All notes" or you can type the name of the board you want and hit <kbd>Enter</kbd> to open it.'}}
	</p>
	<p>
		{{t 'Find a note by hitting <kbd>/</kbd> and typing your search followed by <kbd>Enter</kbd>. The note search box supports <a href="https://sqlite.org/fts3.html#full_text_index_queries" target="_blank">Sqlite\'s FTS3 syntax</a>.'}}
	</p>
</div>
