<h1>{{t 'Quick help'}}</h1>
<div class="help content">
	<h2>{{t 'Keyboard shortcuts'}}</h2>
	<table class="shortcuts">
		<tr>
			<td><kbd>a</kbd></td>
			<td>{{t 'Add a new note'}}</td>
		</tr>
		<tr>
			<td><kbd>b</kbd></td>
			<td>{{t 'Open board dropdown'}}</td>
		</tr>
		<tr>
			<td><kbd>enter</kbd></td>
			<td>{{t 'Open current note'}}</td>
		</tr>
		<tr>
			<td><kbd>e</kbd></td>
			<td>{{t 'Edit current note'}}</td>
		</tr>
		<tr>
			<td><kbd>delete</kbd></td>
			<td>{{t 'Delete current note'}}</td>
		</tr>
		<tr>
			<td><kbd>/</kbd></td>
			<td>{{t 'Search notes'}}</td>
		</tr>
		<tr>
			<td><kbd>x</kbd></td>
			<td>{{t 'Clear all current filters (show all notes in the board)'}}</td>
		</tr>
		<tr>
			<td><kbd>?</kbd></td>
			<td>{{t 'Show this help'}}</td>
		</tr>
		<tr>
			<td><kbd>shift + L</kbd></td>
			<td>{{t 'Log out'}}</td>
		</tr>
	</table>
	<p>
		{{t 'If you are having trouble using Turtl, please email us at <code>info@turtl.it</code>'}}.
	</p>
</div>
