{{{content}}}

{{#if note.color_name}}
	<div class="color {{note.color_name}}">&nbsp;</div>
{{/if}}

<div class="note-gutter">
	{{#if empty}}
		<p class="empty">(empty note)</p>
	{{else}}
		<div class="content text">
			{{#if note.title}}
				<h1>{{{note.title}}}</h1>
			{{/if}}
			{{#if note.text}}
				<div class="body">{{{markdown note.text}}}</div>
			{{/if}}
		</div>
	{{/if}}
</div>

