{{{content}}}

{{#if note.color_name}}
	<div class="color {{note.color_name}}">&nbsp;</div>
{{/if}}

{{#if note.file}}
	<div class="file {{#if note.file.encrypting}}encrypting{{/if}}">
		{{#if note.file.encrypting}}
			<strong class="encrypting">
				{{svg 'loading'}}
				{{note.file.name}}
			</strong>
		{{else}}
			<strong>
				<a href="#open" rel="download">
					{{icon 'attachment'}}
					{{svg 'loading'}}
					{{note.file.name}}
				</a>
			</strong>
		{{/if}}
	</div>
{{/if}}

<div class="note-gutter">
	{{#if empty}}
		<p class="empty">(empty note)</p>
	{{else}}
		<div class="content text">
			{{#if note.title}}
				<h1>{{{note.title}}}</h1>
			{{/if}}
			{{#if note.text}}
				<div class="body">{{{markdown note.text}}}</div>
			{{/if}}
		</div>
	{{/if}}
</div>

{{#if show_info}}
	<div class="info-container">
		<div class="preview">
			<ul>
				<li>{{icon 'board'}}{{note.boards.length}}</li>
				<li>{{icon 'tag'}}{{note.tags.length}}</li>
			</ul>

			<div class="info">
				{{!-- Note linking!
				<form class="standard-form">
					<p>Paste this into another note to link to this one</p>
					<input type="text" readonly value="note::{{note.id}}">
				</form>
				--}}

				{{#if have_boards}}
					<div class="info-list clear">
						{{#if boards.length}}
							<ul>
								<li>{{icon 'board'}}</li>
								{{#each boards}}
									<li>{{name}}</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				{{/if}}

				{{! note that we don't use ul.tags here because it's really ugly next to
					the note-boards container and we also don't need it to be tappable }}
				{{#if note.tags.length}}
					<div class="info-list clear">
						<ul>
							<li>{{icon 'tag'}}</li>
							{{#each note.tags}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}

