{{{content}}}

{{#if note.color_name}}
	<div class="color {{note.color_name}}">&nbsp;</div>
{{/if}}

{{#if has_file}}
	<div class="file {{#if note.file.encrypting}}encrypting{{/if}}">
		{{#if note.file.encrypting}}
			<strong class="encrypting">
				{{svg 'loading'}}
				{{note.file.name}}
			</strong>
		{{else}}
			<strong>
				<a href="#open" rel="download">
					{{icon 'attachment'}}
					{{svg 'loading'}}
					{{note.file.name}}
				</a>
			</strong>
		{{/if}}
	</div>
{{/if}}

<div class="note-gutter">
	{{#if crypto_error}}
		<div class="content text">
			<div class="body">
				<h1>{{t 'Crypto error'}}</h1>
				<p>
					{{t 'There was a problem decrypting this note. Please contact <a href="mailto:info@turtl.it">info@turtl.it</a> for assistance.'}}
				</p>
				{{#if error_data.boards.length}}
					<p>
						{{t 'This note belongs to these boards:'}}
					</p>
					<ul>
						{{#each error_data.boards}}
							<li>{{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					{{t 'This note is not in any boards.'}}
				{{/if}}
				<h2>{{t 'Debug info'}}</h2>
				<code>ID:&nbsp;{{note.id}}<br>Key:&nbsp;{{#if error_data.key}}{{error_data.key}}{{else}}No key found{{/if}}</code>
			</div>
		</div>
	{{else}}{{#if empty}}
		<p class="empty">{{t '(empty note)'}}</p>
	{{else}}
		<div class="content text">
			{{#equal note.type 'password'}}
				<h1 class="main-title password">
					<a href="#" rel="password">
						{{icon 'lock'}}
						{{#if note.title}}
							{{{note.title}}}
						{{else}}
							Password
						{{/if}}
					</a>
				</h1>
				<div class="show-password">
					<form class="standard-form">
						{{#if note.username}}
							<input type="text" name="username" value="{{note.username}}" readonly>
						{{/if}}
						<input type="password" name="password" value="********" readonly>
					</form>
				</div>
			{{else}}
				{{#if note.title}}
					<h1 class="main-title">{{{note.title}}}</h1>
				{{/if}}
			{{/equal}}
			{{#if has_body}}
				<div class="body">
					{{{markdown note.text}}}
				</div>
			{{/if}}
		</div>
		{{/if}}{{/if}}
</div>

{{! {{#if show_info}}
{{#if false}}
	<div class="info-container">
		<div class="preview">
			<ul>
				<li>{{icon 'board'}}{{note.boards.length}}</li>
				<li>{{icon 'tag'}}{{note.tags.length}}</li>
			</ul>

			<div class="info">
				{{!-- Note linking!
				<form class="standard-form">
					<p>{{t 'Paste this into another note to link to this one'}}</p>
					<input type="text" readonly value="note::{{note.id}}">
				</form>
				--}}

				{{#if have_boards}}
					<div class="info-list clear">
						{{#if boards.length}}
							<ul>
								<li>{{icon 'board'}}</li>
								{{#each boards}}
									<li>{{name}}</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				{{/if}}

				{{! note that we don't use ul.tags here because it's really ugly next to
					the note-boards container and we also don't need it to be tappable }}
				{{#if note.tags.length}}
					<div class="info-list clear">
						<ul>
							<li>{{icon 'tag'}}</li>
							{{#each note.tags}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}

