{{{content}}}

{{#if note.color_name}}
	<div class="color {{note.color_name}}">&nbsp;</div>
{{/if}}

<div class="note-gutter">
	{{#if empty}}
		<p class="empty">(empty note)</p>
	{{else}}
		<div class="content text">
			{{#if note.title}}
				<h1>{{{note.title}}}</h1>
			{{/if}}
			{{#if note.text}}
				<div class="body">{{{markdown note.text}}}</div>
			{{/if}}
		</div>
	{{/if}}
</div>

{{#if show_info}}
	<div class="info-container">
		<div class="preview">
			<ul>
				<li><icon>&#xe803;</icon>{{note.boards.length}}</li>
				<li><icon>&#xe80f;</icon>{{note.tags.length}}</li>
			</ul>

			<div class="info">
				<p>
					<input type="text" disabled value="note::{{note.id}}">
				</p>

				{{#if have_boards}}
					<div class="note-boards clear">
						<icon>&#xe803;</icon>
						{{#if boards.length}}
							<ul>
								{{#each boards}}
									<li>
										{{name}}
									</li>
								{{/each}}
							</ul>
						{{else}}
							<span>This note is not in any boards</span>
						{{/if}}
					</div>
				{{/if}}

				{{! note that we don't use ul.tags here because it's really ugly next to
					the note-boards container and we also don't need it to be tappable }}
				{{#if note.tags.length}}
					<div class="note-boards clear">
						<icon>&#xe80f;</icon>
						<ul>
							{{#each note.tags}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}

