<p class="warn">
	{{t 'Are you sure you want to delete the board <em>{{parent}}{{board}}</em>?' parent=parentname board=board.title}}
</p>
<div class="fr delete-notes">
	<input id="delete_notes_{{board.id}}" type="checkbox" name="notes" value="1">
	<label for="delete_notes_{{board.id}}">
		{{t 'Also delete notes in the above <em>{{parentname}}{{board_title}}</em>' parentname=parentname board_title=../board.title}}
	</label>
</div>

