<p class="warn">
	{{#if children.length}}
		{{t 'Are you sure you want to delete the board <em>{{parent}}{{board}}</em> as well as its children:' parent=parentname board=board.title}}
		<ul>
			{{#each children}}
				<li>{{title}}</li>
			{{/each}}
		</ul>
	{{else}}
		{{t 'Are you sure you want to delete the board <em>{{parent}}{{board}}</em>?' parent=parentname board=board.title}}
	{{/if}}
</p>
<div class="fr delete-notes">
	<input id="delete_notes_{{board.id}}" type="checkbox" name="notes" value="1">
	<label for="delete_notes_{{board.id}}">
		{{#if children.length}}
			{{t 'Also delete notes in the above <strong>{{count}}</strong> boards' count=count}}
		{{else}}
			{{t 'Also delete notes in the above <em>{{parentname}}{{board_title}}</em>' parentname=parentname board_title=../board.title}}
		{{/if}}
	</label>
</div>

