<div class="board-actions"></div>

<div class="status">
	{{#if shared}}
		{{icon 'share'}}
	{{/if}}
</div>
<h2>
	{{{board.title}}}
</h2>
<p>
	{{t '<span class="count">{{num_notes}}</span> notes' num_notes=num_notes}}
	{{#if shared_with_me_directly}}
		<small>- {{t 'Shared with me'}}</small>
	{{/if}}
	{{#if shared_by_me}}
		<small>- {{t 'Sharing with {{num_shared_with}}' num_shared_with=num_shared_with}}
	{{/if}}
</p>

<div class="children"></div>

