<a class="open-settings {{#if state.settings}}active{{/if}}" href="#settings">{{t 'Advanced settings'}} {{icon 'more'}}</a>
<div class="settings-container old-server {{#if state.settings}}active{{/if}}">
	<p class="settings">
		<label>
			{{t 'Turtl server'}}
			<input type="text" name="server" value="{{state.endpoint}}" placeholder="https://apiv3.turtlapp.com">
		</label>
		{{#if show_old_server}}
			<label>
				{{t 'Old Turtl server'}}
				<input type="text" name="old_server" value="{{state.old_endpoint}}" placeholder="https://api.turtlapp.com/v2">
			</label>
		{{/if}}
		<label>
			{{t 'Proxy server'}}
			<input type="text" name="proxy" value="{{state.proxy}}" placeholder="http://10.0.0.2:6777">
		</label>
		<label>
			{{t 'Skip SSL verification'}}
			<input type="checkbox" name="ignore-ssl" value="1" {{#if state.ignore_ssl}}checked{{/if}}>
		</label>
	</p>
</div>

