<input id="inp_email" type="email" name="username" placeholder="{{t 'Email address'}}" tabindex="4" autocomplete="off" autocorrect="off" autocapitalize="none" autocorrect="off">
<input id="inp_pass" type="password" name="password" placeholder="{{t 'Passphrase'}}" autocomplete="off" autocorrect="off" tabindex="5">
<input id="inp_conf" type="password" name="confirm" placeholder="{{t 'Confirm passphrase'}}" autocomplete="off" autocorrect="off" tabindex="6">
<div class="strength {{state.strength_class}}">
	<div class="progress-bar">
		<div class="inner" style="width: {{state.strength_width}}%;">&nbsp;</div>
	</div>
	<p>{{t 'Passphrase strength: '}}<span class="status">{{state.strength_text}}</span></p>
</div>

{{remember-me autologin}}

<div class="buttons">
	<div class="button join">
		<input type="submit" class="button" value="{{t 'Join'}}">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/users/login">{{t 'Login to an existing account'}}</a>
	</p>
</div>

{{{advanced}}}

