<input type="text" name="username" placeholder="{{t 'Username (or email address)'}}" tabindex="4" autocomplete="off" autocorrect="off" autocapitalize="none">
<input type="password" name="password" placeholder="{{t 'Passphrase'}}" autocomplete="off" tabindex="5">
<input type="password" name="confirm" placeholder="{{t 'Confirm passphrase'}}" autocomplete="off" tabindex="6">
<div class="strength">
	<div class="progress-bar">
		<div class="inner">&nbsp;</div>
	</div>
	<p>{{t 'Passphrase strength: '}}<span class="status"></span></p>
</div>

{{#if show_autologin}}
	<div class="autologin">
		<label>
			<input type="checkbox" name="autologin" value="1" {{#if autologin}}checked{{/if}}>
			{{t 'Stay logged in'}}
		</label>
	</div>
{{/if}}

<div class="buttons">
	<div class="button join">
		<input type="submit" class="button" value="{{t 'Join'}}">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/users/login">{{t 'Login to an existing account'}}</a>
	</p>
</div>

<a class="open-settings" href="#settings">{{t 'Advanced settings'}} {{icon 'more'}}</a>
<p class="settings">
	<label for="inp_server">
		{{t 'Turtl server'}}
		<input type="text" name="server" value="{{server}}" placeholder="https://api.turtl.it/api">
	</label>
</p>

