<input type="email" name="username" placeholder="{{t 'Email'}}" tabindex="1" autocomplete="off" autocorrect="off" autocapitalize="off">
<input type="password" name="password" placeholder="{{t 'Passphrase'}}" autocomplete="off" autocorrect="off" tabindex="2">
{{#if show_autologin}}
	<div class="autologin">
		<label>
			<input type="checkbox" name="autologin" value="1" {{#if autologin}}checked{{/if}}>
			{{t 'Stay logged in'}}
		</label>
	</div>
{{/if}}

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="{{t 'Login'}}">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/users/welcome">{{t 'Create an account'}}</a>
	</p>
</div>

<a class="open-settings" href="#settings">{{t 'Advanced settings'}} {{icon 'more'}}</a>
<p class="settings">
	<label for="inp_server">
		{{t 'Turtl server'}}
		<input type="text" name="server" value="{{server}}" placeholder="https://api.turtl.it/api">
	</label>
</p>

