<input type="text" name="username" placeholder="{{t 'Email'}}" value="{{state.last_username}}" tabindex="1" autocomplete="off" autocorrect="off" autocapitalize="off">
<input type="password" name="password" placeholder="{{t 'Passphrase'}}" autocomplete="off" autocorrect="off" tabindex="2">
{{remember-me autologin}}

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="{{t 'Login'}}">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/users/welcome">{{t 'Create an account'}}</a>
	</p>
</div>

<a class="open-settings {{#if state.settings}}active{{/if}}" href="#settings">{{t 'Advanced settings'}} {{icon 'more'}}</a>
<div class="settings-container old-server {{#if state.settings}}active{{/if}}">
	<p class="settings">
		<label>
			{{t 'Old Turtl server'}}
			<input type="text" name="old_server" value="{{state.old_endpoint}}" placeholder="https://api.turtlapp.com/v2">
		</label>
		<label>
			{{t 'Turtl server'}}
			<input type="text" name="server" value="{{state.endpoint}}" placeholder="https://api.turtlapp.com/v3">
		</label>
	</p>
</div>

