<div class="interface">
	<div class="confirm-text">
		<h2>{{t 'A note on how Turtl works'}}</h2>
		<p>
			{{t 'Your account password acts as the "key" that locks and unlocks your data.'}}
			{{t 'We don\'t store your password anywhere, so <em class="error">you need to remember your password</em> or keep it in a safe place (like a password manager).'}}
		</p>
		<p>
			{{t 'Turtl has no "Lost password" feature. If you lose your password, your profile is gone forever!'}}
		</p>
	</div>

	<div class="buttons">
		<div class="button confirm">
			<span>{{t 'I will remember my login!'}}</span>
		</div>
	</div>
</div>

