{{#if have_boards}}
	<div class="note-boards clear">
		{{icon 'board'}}
		{{#if boards.length}}
			<ul>
				{{#each boards}}
					<li>
						{{#if name}}{{name}}{{else}}{{t '(untitled board)'}}{{/if}}
					</li>
				{{/each}}
			</ul>
		{{else}}
			<span>{{t 'This note is not in any boards'}} &raquo;</span>
		{{/if}}
	</div>
{{/if}}

