<div class="clear-search">
	<a href="#clear-search">{{icon 'close'}}{{t 'Reset search'}}</a>
</div>
<div class="filter-sort">
	<ul>
		<li class="{{#equal sort 'created'}}sel{{/equal}} {{#equal dir 'desc'}}desc{{/equal}}">
			<a href="#created" rel="created">{{icon 'sort'}}{{t 'Create date'}}</a>
		</li>
		<li class="{{#equal sort 'mod'}}sel{{/equal}} {{#equal dir 'desc'}}desc{{/equal}}">
			<a href="#modified" rel="mod">{{icon 'sort'}}{{t 'Last edited'}}</a>
		</li>
	</ul>
</div>

<div class="filter-text">
	<form class="standard-form">
		<input type="text" name="text" value="{{text}}" placeholder="{{t 'Text search'}}" autocomplete="off">
	</form>
</div>

<div class="tag-container">
	{{#if tags.length}}
		<div class="filter-tags">
			<ul class="tags clear">
				{{#each tags}}
					<li id="tag-{{name}}" class="{{#if negated}}exclude{{/if}} {{#if selected}}sel{{/if}} {{#unless available}}empty{{/unless}}">
						<span>{{name}}</span>
					</li>
				{{/each}}
			</ul>
			{{#if show_show_all_tags}}
				<a href="#show" rel="all">{{t 'Show all tags'}} &raquo;</a>
			{{/if}}
		</div>
	{{/if}}
</div>

{{!--	Disable colors for now ='[
<div class="notes-edit filter-colors">	{{! bit of a hack to avoid some CSS duplication }}
	<ul class="colors">
		{{#each colors}}
			{{#if id}}
				<li rel="{{id}}" class="{{name}} {{#if selected}}sel{{/if}}"><span>&nbsp;</span></li>
			{{/if}}
		{{/each}}
	</ul>
</div>
--}}

